/bam
/.bam
/config.lua
/objs
__pycache__/
*.pyc
*.pyo
scripts/work/
src/game/generated/
src/generated/
other/icons/*.res
/SDL.dll
/freetype.dll

/data
/crapnet*
/dilate*
/fake_server*
/map_resave*
/map_version*
/mastersrv*
/packetgen*
/ninslash*
/ninslash_srv*
/serverlaunch*
/tileset_border*
/versionsrv*
Thumbs.db
build.bat
/SDL3.dll
/glew32.dll
notepad.workspace

/.vscode
/build
./temp
bam.exe

# CMake
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
# Ninja
.ninja_deps
.ninja_log
build.ninja
cmake_install.cmake
CMakeFiles